{% extends "base.html" %}

{% block content %}
  <h1>Muokkaa kenkää {{shoe.name}}</h1>

    {% if errors %}
  <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/shoe/{{attributes.id}}/edit">
    <div class="form-group">
      <label class="control-label">Merkki</label>
      <input name="brand" class="form-control" value="{{attributes.brand}}" type="text">
    </div>

    <div class="form-group">
      <label class="control-label">Malli</label>
      <input name="name" class="form-control" value="{{attributes.name}}" type="text">
    </div>

    <div class="form-group">
      <label class="control-label">Tyyppi</label>
      <select class="form-control" name="model_id[]" multiple>
        {% for model in models %}
        <option value="{{model.id}}">{{model.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">Kuvaus</label>
      <textarea name="description" class="form-control">{{attributes.description}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}