{% extends "base.html" %}

{% block content %}
  {% if user_logged_in %}
  <h1>Käyttäjän {{user_logged_in.username}} kenkälista</h1>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
      <ul>
         {{message}}
         </ul>
    </div>
 {% endif %}  

  <p>
    <a href="{{base_path}}/shoe/new" class="btn btn-success">Lisää kenkä</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Merkki</th>
        <th>Malli</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for shoe in shoes %}
        <tr>
          <td>{{shoe.brand}}</td>
          <td><a href="{{base_path}}/shoe/{{shoe.id}}">{{shoe.name}}</a></td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/shoe/{{shoe.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}