{% extends "base.html" %}

{% block content %}
  <h1>Käyttäjän Saara kenkälista</h1>

  <p>
    <a href="{{base_path}}/shoe/new" class="btn btn-success">Lisää kenkä</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Merkki</th>
        <th>Malli</th>
        <th>Tyyppi</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for shoe in shoes %}
        <tr>
          <td>{{shoe.brand}}</td>
          <td><a href="{{base_path}}/shoe/{{shoe.id}}">{{shoe.name}}</a></td>
          <td>{{shoe.model_name}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/shoe/{{shoe.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}