{% extends "base.html" %}

{% block content %}
  <h1>{{shoe.name}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    <form method="post" style="display: inline-block" action="{{base_path}}/shoe/{{shoe.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kengän?"> 
  <button type="submit" class="btn btn-danger">Poista</button>
</form> <a href="{{base_path}}/shoe/{{shoe.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Merkki:</strong> {{shoe.brand}}</li>
  </ul>
    <!-- Kuvaus tulee tähän -->
  <p>
    {{shoe.description}}
  </p>
  <h2>Kuuluu malleihin</h2>
  {% if shoe.models|length > 0 %}
  <ul>
    {% for model in shoe.models %}
      <li>{{model.name}}
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}