{% extends "base.html" %}

{% block content %}

  <h1>Kenkätyypit</h1>

  {% if message %}
    <div class="alert alert-success">
      <ul>
         {{message}}
         </ul>
    </div>
 {% endif %}  

  <p>
    {% if user_logged_in %}
    <a href="{{base_path}}/model/new" class="btn btn-success">Lisää kenkätyyppi
    {% endif %}</a>

  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Muokkaa</th>
        <th>Poista</th>
      </tr>
    </thead>

    <tbody>
      {% for model in models %}
        <tr>
          <td>{{model.name}}</td>
          <td>{% if user_logged_in %}<a class="btn btn-default btn-sm" href="{{base_path}}/model/{{model.id}}/edit">Muokkaa</a>{% endif %}</td>
          <td>{% if user_logged_in %}<form method="post" action="{{base_path}}/model/{{model.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kenkätyypin?"><button type="submit" class="btn btn-danger">Poista</button></form>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}