{% extends "base.html" %}

{% block content %}
  <h1>Libby 16 Plate Victim Boots</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Merkki:</strong> Pennangalan</li>
    <li><strong>Tyyppi:</strong> Saappaat</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Libby 16 Plate Victim Boots: Pitkävartinen kiiltonahkasaapas soljilla, 14 cm korko ja 5 cm platform.
  </p>
{% endblock %}