{% extends "base.html" %}

{% block content %}
  <h1>Muokkaa kenkää Libby 16 Plate Victim Boots</h1>

  <form>
    <div class="form-group">
      <label>Merkki</label>
      <input class="form-control" value="Pennangalan" type="text">
    </div>
    <div class="form-group">
      <label>Malli</label>
      <input class="form-control" value="Libby 16 Plate Victim Boots" type="text">
    </div>
    <div class="form-group">
      <label>Tyyppi</label>
      <input class="form-control" value="Saappaat" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">        Libby 16 Plate Victim Boots: Pitkävartinen kiiltonahkasaapas soljilla, 14 cm korko ja 5 cm platform.
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}