{% extends "base.html" %}

{% block content %}
  <h1>Rekisteröidy</h1>

{% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/register">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" name="username" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" name="password" type="password">
    </div>

    <div class="form-group">
      <label>Salasana uudelleen</label>
      <input class="form-control" name="password-again" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
  </form>
{% endblock %}